body{
    background-color: #292b2e;
}

button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  
#title{
  position: absolute;
  left: 500px;
}

#login-button{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #72da8c;
    width: 10%;
    height: 10%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}