body{
    background-color: #bdbdbd;
    color: black;
}

button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  
#app-mount {
  height:100%
}

.grid-bar {
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column
}

.row-31oovZ {
  width:100%;
  max-width:1260px;
  max-width:var(--page-max-width);
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-columns:repeat(var(--num-grid-columns),1fr);
  gap:0 20px;
  padding:0 24px;
  padding:0 var(--page-gutter)
}

.header-V8Sgnz {
  z-index:9998
}

.wrapper-2bm6Le {
  grid-column:span 4;
  grid-column:span var(--num-grid-columns)
}

.nav-3_Sybl {
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  width:100%;
  height:80px
}

.links-DGfZfm {
  -webkit-box-flex:1;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  text-align:center;
  font-size:16px;
  line-height:140%;
  font-weight:600
}

.link-1naFFL {
  cursor:pointer;
  text-decoration: none
}

.link-1naFFL:hover {
  text-decoration:underline
}

.link-2eyudH {
  margin:10px;
  padding:10px
}

#title{
  position: absolute;
  left: 200px;
}

#login-button{
    font-family: 'Nunito bold', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
    background: #4fd671;
    width: 10%;
    height: 10%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}