
  body{
    font-weight: 900;
    width: auto;
    height: auto;
  
    overflow: hidden;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #chat_container{
    width: 80%;
    height: 450px;
  
    display: flex;
    justify-content: center;
  
    float: left;
    margin-top: 40px;
  }
  #chat_inner_container{
    width: 40%;
    height: 100%;
  }
  #chat_content_container{
    width: 100%;
    height: 90%;
  
    float: left;
    overflow-y: auto;
    font-family: Varela Round;
  
    padding-left: 15px;
    padding-right: 15px;
  }
  #chat_input_container{
    width: 100%;
    height: 10%;
  
    float: left;
  
    padding-left: 15px;
    padding-right: 15px;
    font-family: Varela Round;
    margin-top: 10px;
  }
  #chat_input{
    width: 95%;
    height: 100%;
    float: left;
    background-color: Transparent;
    color: #000;
    font-size: 15px;
  }
  #chat_input_send{
    width: 5%;
    height: 100%;
    float: left;
    font-size: 18px;
    background-color: Transparent;
    text-align: right;
    color: #ccc;
  }
  .message_container{
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
  
  }
  .message_inner_container{
    width: 100%;
    display: inline-block;
  
    color: #000;
  }
  .message_user_container{
    width: 100%;
    display: inline-block;
    color: #1e4054;
  }
  .message_user{
    font-weight: bold;
    font-size: 15px;
  }
  .message_content_container{
    width: 100%;
    display: inline-block;
  
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .message_content{
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
  }
  .loader_container{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  
    border-top: 6px solid rgb(177, 62, 48);
    border-bottom: 6px solid rgb(201, 81, 39);
    border-left: 6px solid #E9FFF9;
    border-right: 6px solid #E9FFF9;
  }